body{
    background-image: linear-gradient(to left, #fedbe3, rgb(253, 161, 198));
    font-family: 'Alata', sans-serif;
}

.menuEncabezado{
    text-decoration: none;
    color: #ac6676;
    background-color: #f7b7c6;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left-style: solid;
    border-right-style: solid;
    margin: 1rem;
    padding: 0.3rem;
    font-size: 1.2em;
    border-style: outset;
}

#tituloEncabezado{
    padding-top: 20px;
    font-family: 'Updock', cursive;
    font-size: 50px;
}

div a:hover{
    color: #544242;
}

h1{
    padding: 15px;
}

#encabezado{
    background-color: rgb(234, 202, 218);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-left-style: solid;
    border-right-style: solid;
}

p{
    font-size: 2em;
}
@media (max-width: 1200px){
    p{
        font-size: 1.5em;
    }
}

@media (max-width: 1000px){
    p{
        font-size: 1.3em;
    }
    #img1{
        height: 220px;
    }
    #img2{
        height: 220px;
    }
}

@media (max-width: 800px){
    p{
        font-size: 1.05em;
    }
    #img1{
        height: 150px;
    }
    #img2{
        height: 150px;
    }
    #tituloEncabezado{
        font-size: 32px;
        padding-top: 21px;
    }
}

footer{
    position: absolute, relative;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;
    background-color: #252525;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;

}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus{
    display: flex;
    align-items: flex-start;
    width: 40%;
    justify-content: space-around;
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font: calc(1vw + 20px);
}

.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 0.7;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%
}

.social-link{
    height: 100%;
    width: 30px;
    background-image: url(FacebookBlanco.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover{
    opacity: 0.7;
}

footer .social-link:nth-of-type(2){
    background-image: url(TwitterBlanco.png);
}

footer .social-link:nth-of-type(3){
    background-image: url(WhatsAppBlanco.png);
}

@media (max-width: 768px){
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #39393B;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1){
        align-items: flex-start;
    }

    .footer-content-container:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #39393B;
    }
}

#productos h2{
    font-size: 50px;
    color: #000000;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}



button{
    font-size: 0.7em;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #252525;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #252525;
    color: #252525;
    background-color: #eb9dff;
}

button:hover{
    background-color: #ce65ff;
}

.container{
    max-width: 1400px;
    margin: auto;
    text-align: center;
}

#productos{
    margin: 30px;
    padding: 10px;
}